@tailwind base;

@tailwind components;

@tailwind utilities;

.transition-150 {
    @apply transition ease-in duration-150;
}

.active{
    @apply border-l-4 border-indigo-500 text-indigo-500;
}  

*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-track {
/* background: orange; */
}
*::-webkit-scrollbar-thumb {
background-color: #667eea;
border-radius: 20px;
/* border: 3px solid orange; */
}
