@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.transition-150 {
    @apply transition ease-in duration-150;
}

.active{
    @apply border-l-4 border-indigo-500 text-indigo-500;
}  

*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-track {
/* background: orange; */
}
*::-webkit-scrollbar-thumb {
background-color: #667eea;
border-radius: 20px;
/* border: 3px solid orange; */
}

.forever {
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
}
